html, body {
    height: 100%;
    position: relative;
}

body {
    font-size: 62.5%;
    background: #ccc;
}

#wrapper {
    font-size: 1.4em;
    top: 2.5%;
    width: 900px;
    height: 95%;
    margin: 0px auto;
    background: #fff;
    box-shadow: #888 10px 0px 15px;
    padding: 3px;
}

#messages {
    border: 1px inset #ccc;
    width: 850px;
    height: 500px;
    margin: 0px auto;
    list-style: none;
    overflow: scroll;
}

.author {
    font-weight: bold;
    text-decoration: underline;
}
#messages .mine { color:green; }
